<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <style>
        #my-form{
            text-align: center;
            background-color:coral;
            color: blueviolet;
        }
        body{
            background-color:khaki;
        }
    </style>
</head>
<body>
    <div id="main" class="container">
        <h1>Expense Tracker App</h1>
        <form id="my-form" class="form-control-plaintext" action="http://localhost:2000/expense" method="POST" onsubmit="addUsers(event)">
            <div class="form-floating">
                <label for="amount">Choose Expense amount: </label><br>
                <input type="number" class="mr-2 mt-2 mb-2" id="expenseid" name="amount" placeholder="Amount in ₹"><br>
            </div> 
            <div class="form-floating">
                <label for="description">Choose description: </label><br>
                <input type="text" class="mr-2 mt-2 mb-2" id="desid" name="description" placeholder="Describe"><br>
            </div>
            <div class="form-floating">
                <label for="category">Choose a category: </label><br>
                <select id="listid" name="category" class="mr-2 mt-2 mb-2">
                    <option>Fuel</option>
                    <option>Food</option>
                    <option>Movie</option>
                    <option>Electricity</option>
                </select><br>
            </div>
            
            <button class="btn btn-info mt-2" type="submit">Add Expenses</button>
        </form>
        
    </div>

    <div id="dataList">
        <ul id="dataItems"></ul>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    
    <script>
        async function addUsers(event){
            try{
                event.preventDefault();

                const amount = document.getElementById('expenseid').value;
                const description = document.getElementById('desid').value;
                const category = document.getElementById('listid').value;

                console.log(amount, description, category);
                const expense = {
                    amount: amount,
                    description: description,
                    category: category
                };

                console.log(expense);

                //localStorage.setItem(user.description,JSON.stringify(user));
                const res = await axios.post('http://localhost:2000/expense', expense);
                console.log(res.data);
                showUserOnScreen(res.data);

                document.getElementById('expenseid').value = '';
                document.getElementById('desid').value = '';
                document.getElementById('listid').value = '';
            } catch(error){
                document.body.innerHTML=document.body.innerHTML+'<h4>Something Went Wrong</h4>';
                console.log(error);
            }
            
                //form.reset();
        }

        window.addEventListener('DOMContentLoaded', async () => {
            try{
                const res =await axios.get('http://localhost:2000/expense');
            
                console.log(res.data);

                for(let i=0;i<res.data.length;i++)
                {
                    showUserOnScreen(res.data[i]);
                    console.log('reached', res.data[i]);

            }
            } catch (error){
                document.body.innerHTML=document.body.innerHTML+'<h4>Something Went Wrong</h4>';
                console.log(error);
            }
            
        })

        function showUserOnScreen(user){
            let parentNode = document.getElementById('dataItems');

            const childNode=`<li id=${user.id}>${user.amount}-${user.description}-${user.category}
                                <button onclick=deleteUser('${user.id}')>Delete</button>
                                <button onclick=editUserDetail('${user.amount}','${user.description}','${user.category}','${user.id}')>Edit</button>`;

            parentNode.innerHTML = parentNode.innerHTML + childNode;
            
        }

        async function deleteUser(userid)
        {
        console.log('comes');

            try {
                await axios.delete(`http://localhost:2000/expense/${userid}`);
                console.log('axios');
                removeFromScreen(userid);
                console.log('complete');
            } catch (err) {
                document.body.innerHTML= document.body.innerHTML+"<h4>Something Went Wrong</h4>"
            console.log(err);
            }
            
                
        } 
        




        function removeFromScreen(id)
        {
            let parent=document.getElementById('dataItems');
            const childNodeDeleted=document.getElementById(id);

            parent.removeChild(childNodeDeleted)
        }

        async function editUserDetail(userAmount, userDesc, userCategory, userId){
            try{
                await axios.delete(`http://localhost:2000/expense/${userId}`);
                removeFromScreen(userId);

                document.getElementById('expenseid').value = userAmount;
                document.getElementById('desid').value = userDesc;
                document.getElementById('listid').value = userCategory;
            } catch(err) {
                document.body.innerHTML += "<h4>Something went wrong</h4>";
                console.log(err);
            }
        }







    </script>
</body>
</html>